*.gguf
# Ignore local LLM models
*.gguf
# Swift Package Manager
**/**/Package.resolved
# Xcode
#
build/
DerivedData/
*.hmap
*.xccoverage
*.xcscmblueprint
*.xcuserstate
xcuserdata/

# Xcode build cache
DerivedDataClean/

# macOS system files
.DS_Store
**/.DS_Store

